# 🔥 Python
__pycache__/
*.pyc
*.pyo
*.pyd

# 🔥 Ambiente virtual
venv/
.env/

# 🔥 Banco de dados
*.db
*.sqlite3

# 🔥 Pytest
.pytest_cache/

# 🔥 VS Code
.vscode/

# 🔥 Node (frontend)
node_modules/
dist/

# 🔥 Logs
*.log

__pycache__/
.pytest_cache/
venv/
node_modules/